@inject HttpClient Http

<ul class="list-unstyled">
    @foreach (var product in _products)
    {
        <li class="media my-3">
            <div class="media-img-wrapper m-2">
                <a href="#">
                    <img class="media-img rounded" src="@product.ImageUrl" alt="@product.Title"/>
                </a>
            </div>
            <div class="media-body">
                <a href="#">
                    <h4 class="mb-0">@product.Title</h4>
                </a>
                <p>@product.Description</p>
                <h4 class="price">@product.Price@_currency</h4>
            </div>
            <hr/>
        </li>
    }
</ul>

@code {
    string _currency = "kr";

    private static List<Product> _products = new();

    protected override async Task OnInitializedAsync()
    {
        var result = await Http.GetFromJsonAsync<List<Product>>("/Product");
        if (result != null)
            _products = result;
    }

}